{% extends 'base.html' %}

{% block title %} Login {% endblock title %}

{% block content %}

    <div class="block-center">
        {% if error_message %}
            <div class="ui negative message">
                <i class="close icon"></i>
                <div class="header">
                    {{ error_message }}
                </div>
            </div>
        {% endif %}
        <div class="ui middle aligned center aligned grid" style="margin-top: 4em;">
            <form action="" method="POST" class = "ui form">
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="ui button positive mtop">Login</button>
            </form>
        </div>
    </div>

{% endblock content %}